<mat-card class="card" >
<mat-grid-list  cols="5"  rowHeight="28px" class="top">
    <mat-grid-tile [colspan]="5" [rowspan]="1">
        <p class='updateDate'>{{offer.updated_at | date }}  </p >  <span class="example-spacer"></span> <p class='career'>{{offer.career}}</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4">
        <img mat-card-md-image  src={{offer.logo}} alt={{offer.name}}>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="4">
        <mat-card-title-group class="cardInfo">
            <mat-card-title>{{offer.title}}</mat-card-title>
            <mat-card-subtitle><a>{{offer.name}}</a></mat-card-subtitle>
            <mat-card-subtitle><p>{{offer.modality}}</p></mat-card-subtitle>
        </mat-card-title-group>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="5" [rowspan]="shortTextRowspan" >
        <mat-card-content class="descriptionTextContainer">
          <div class="descriptionText" #descriptionText>
            <p class="text">  {{offer.shortText}}</p>
          </div>

          </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!showMore" [colspan]="5" [rowspan]="1" >
        <mat-card-actions  style="width: 100% ;">
            <button mat-raised-button  color="primary" style="width: 100%;" (click)="showMore=true">Ver Mas</button>
        </mat-card-actions>
    </mat-grid-tile>

</mat-grid-list>
<!-- <mat-grid-list *ngIf="showMore" cols="5"  rowHeight="25px"> -->
    <div *ngIf="showMore">
    <!-- <mat-grid-tile [colspan]="5" [rowspan]="5"> -->
        <mat-card-content class="descriptionText">
        <p class="text">{{offer.text}}</p>
        </mat-card-content>
    <!-- </mat-grid-tile> -->
    <!-- <mat-grid-tile [colspan]="5" [rowspan]="2"> -->
    <mat-card-actions>
        <button mat-raised-button   (click)="showMore=false">Ocultar</button>
        <button mat-raised-button  color="primary" (click)="signupOffer()" [disabled]="BrockButton" >{{offer.isInscribed == 1 ? 'ya esta inscrito' : 'inscribirme'}}</button>
    </mat-card-actions>
    <!-- </mat-grid-tile> -->
</div>
<!-- </mat-grid-list> -->






</mat-card>
