<div class="body">
<form [formGroup]='form' (ngSubmit)="createOffer()">
    <mat-form-field class="ancho" appearance="fill" >
        <mat-label>Title</mat-label>
        <input matInput autocomplete="off" formControlName="title">
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
        <mat-label>career</mat-label>
        <mat-select  name="career" formControlName="career" >
          <mat-option *ngFor="let career of careers" [value]="career">
            {{career}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>modality</mat-label>
        <mat-select  name="career" formControlName="modality" >
          <mat-option *ngFor="let modality of modalities" [value]="modality">
            {{modality}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill" >
        <mat-label>description</mat-label>
        <textarea matInput autocomplete="off" formControlName="description"></textarea>
        <!-- <input matInput autocomplete="off" formControlName="description"> -->
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill" >
        <mat-label>text</mat-label>

        <textarea matInput autocomplete="off" formControlName="text"></textarea>

        <!-- <input matInput autocomplete="off" formControlName="text"> -->
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">Crear Oferta</button>
   




</form>
</div>