
<div class="body">
  
    <div class="login">
     
     <img src="./../../../assets/img/lupa.png" width="20%">
     <h1>Singup</h1>
     <form   [formGroup]="form" (ngSubmit)="singup()">
     <mat-form-field class="ancho" appearance="fill" >
         <mat-label>email</mat-label>
         <input matInput autocomplete="off" formControlName="user" type="email">
       </mat-form-field>
       <mat-form-field class="ancho" appearance="fill">
         <mat-label>password</mat-label>
         <input matInput autocomplete="off" formControlName="password" type="password">
       </mat-form-field>
       <mat-form-field class="ancho" appearance="fill">
        <mat-label>name</mat-label>
        <input matInput autocomplete="off" formControlName="name">
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>surname</mat-label>
        <input matInput autocomplete="off" formControlName="surname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="ancho" appearance="fill">
        <mat-label>career</mat-label>
        <!-- <input matInput autocomplete="off" formControlName="career"> -->
        <mat-select  name="career" formControlName="career" >
          <mat-option *ngFor="let career of careers" [value]="career">
            {{career}}
          </mat-option>
        </mat-select>
      </mat-form-field>

       <br>
       <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">Ingresar</button>
     </form>
     <a routerLink="/login">Ya esta registrado </a>
     <br>
     <a routerLink="/">regresar a pagina principal</a>
    </div>
 </div>
 