<mat-card class="profileCard" >
    <mat-grid-list  cols="5"  rowHeight="25px" class="top">
        <mat-grid-tile [colspan]="5" [rowspan]="4" class="profileImg">
            <img mat-card-md-image appImgNotFound src={{user?.img}}  alt="Image of a Shiba Inu">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="4">
            <mat-card-title-group class="cardInfo">
                <mat-card-title>{{user?.names}} {{"   "}} {{user?.surnames}}</mat-card-title>
                <mat-card-subtitle>{{user?.career}}</mat-card-subtitle>
                <mat-card-subtitle><p>{{(user?.birthdate|date)}}</p></mat-card-subtitle>
            </mat-card-title-group>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="5">
            <p>{{user?.description}}</p>
        </mat-grid-tile>
        <mat-grid-tile  [colspan]="5" [rowspan]="2"  *ngIf="myProfile">
            <button mat-icon-button  (click)="updateUser()" >
                <mat-icon>edit</mat-icon>
            </button>
            
        </mat-grid-tile>








    </mat-grid-list>





    
</mat-card>
